<h1>Update Event</h1>

<form action="/events/<%=@event.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label>Event:</label>
  Title: <input type="text" name="title" value="<%= @event.title%>"></input><br>
  Date: <input type="integer" name="date" value="<%= @event.date%>"></input><br>
  Volunteers Needed: <input type="text" name="volunteers_needed" value="<%= @event.volunteers_needed%>"></input><br>
  Description: <input type="text" name="description" value="<%= @event.description%>"></input><br>
  <br>
  Comments: <input type="text" name="event[comment_ids][]" value="<%= comment %>"></input><br>

    <button id="submit" type="submit" >Edit Event</button>
</form>
